<div class="popup-form" 
[style.left.%]="x" 
[style.top.%]="y">
    <!-- Your form fields here -->
    <div class="icons">

      <ng-container *ngIf="!addCommentStatus">
        <ng-container *ngFor="let color of colors">
          <div class="icon-container" (click)="emitColor(color)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" [attr.fill]="color.name" class="bi bi-chat-fill" viewBox="0 0 16 16">
              <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
              <svg *ngIf="selectedColor?.id === color.id" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>
            </svg>        
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="addCommentStatus">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" [attr.fill]="this.annotation?.colorOfIcon" class="bi bi-chat-fill" viewBox="0 0 16 16">
            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
          </svg>        
        </div>
      </ng-container>
    </div>
    <input type="text" placeholder="Enter Annotation text *" [(ngModel)]="inputValue" />
    <div class="button-pop">
      <button class="btn cancel" (click)="cancelPopupForm()">Cancel</button>
      <button class="btn save" (click)="saveAnnotation()">Post</button>
    </div>
  </div>