/* center image */
.center{
    margin: 30px;
    position: relative;
}
.image-div{
  position: relative;
  /*width: 730px;*/
 /* width: 50%;*/
}

img {
    width: 100%;
    height: 50%;
    cursor: pointer;
    position: relative;
  }
  .color-annotation {
    position: absolute;
    border-radius: 50%;
  }

  .popup-message {
    position: absolute;
    width: 323px;
    padding: 10px;
    font-size: 12px;
    margin-top: 30px;
    color:#FFF;
    background-color: #393838;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  svg{
    cursor: pointer;
    position: absolute;
  }

  .hoverComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .upComment{
    display: flex;
    justify-content: space-between;
  }

  .downComment{
    margin-top:10px
  }